extends ../layout.pug

block variables
  - const title = "Page Not Found"

block content
  h1 404 Page Not Found
  p
    | This is not the page you're looking for, you can go back to the 
    a(href="/") home page
    | .
